@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: white;
}

/* Header Component CSS */
.top{
  background-color:  #17202a;
}

.header{
  width: 90%;
  font-family: 'Grenze Gotisch', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
}

.header .logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.header .logo img{
  height: 60px;
  margin-right: 10px;
}


.header .toggle-btn button{
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* Main CSS */

.main{
  width: 100%;
}

/* Weather Component CSS */
.weather{
  margin: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.weather .search-input{
  /* text-align: center; */
  width: 50%;
  margin: 5px 0px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather .search-input input{
  width: 40%;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 4px 5px;
}


.weather .search-input button{
  padding: 4px 5px;
  cursor: pointer;
  color: white;
  border-color:  #212f3d ;
  outline: none;
  background-color:  #212f3d ;
}


.main-details{
  margin: 5px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 5px 5px;
  transition: all ease-in-out 0.25s;
}

.location{
  text-decoration: underline;
  margin: 20px 0px;
}


.icondiv{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icondiv img{
  height: 100px;
  margin-right: 20px;
}

.icondiv h4.max-temp{
  font-size: 32px;
  margin-right: 10px;
}

.icondiv h4.min-temp{
  font-size: 22px;
}

.climate{
  font-size: 24px;
}

.warning{
  background-color: grey;
  margin: 10px 5px;
  text-align: center;
  padding: 5px 5px;
  border-radius: 10px ;
}

.main-details:hover{
  background-color: #212f3d ;
  border-radius: 10px;
  color: white;
}

/* Daily Component CSS */
.daily{
  width: 90%;
  margin: 0 auto;
}

.daily h2{
  font-size: 30px;
}

.daily-cards{
  margin: 10px auto;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  transition: all 0.35s ease-in-out;
}

.icondiv-card{
  display: flex;
  align-items:center;
  justify-content: flex-start;
}

.card{
  width: 150px;
  padding: 5px 10px;
  margin: 0px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card img{
  height: 40px;
  margin: 10px 20px;
}

.card p.max{
  font-size: 20px;
  font-weight: bold;
}

.card p.min{
  font-size: 16px;
  margin: 0px 10px;
}

.card:hover{
  background-color: #212f3d;
  color: white;
}


/* Day Details Component CSS */

.day-details{
  width: 90%;
  margin: 20px auto;
}

.day-details h1{
  font-size: 30px;
  margin: 20px 0px;
}

.cards{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.cards div{
  padding: 10px;
  border-top: 2px solid black;
}

.sun-time{
  width: 15%;
}

.moon-time{
  width: 15%;
}

.others{
  width: 18%;
}

.cards span img{
  height: 40px;
}

.cards span{
  padding: 5px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* News Component */

.news{
  width: 90%;
  margin: 0 auto;
  /* background-color: red; */
}


/* Top News Bar Component */

.news-top{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-top button{
  padding: 5px 2px;
  text-align: center; 
  font-weight: bold;
}

.news-top i{
  margin-right: 5px;
}


.news-top .search-news{
  display: flex;
  align-items: center;
  justify-content: center;
}


.news-top input{
  padding: 5px;
  font-weight: bold;
}


/* Arciles Component CSS */

.articles{
  width: 90%;
  margin: 40px auto;
  min-height: 58vh;
}

#sp-link{
  color: blue;
  text-decoration: underline;
}

.articles-cards{
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3,250px);
  grid-gap: 100px;
}

/* .news-card{
  width: 275px;
  height: 400px;
  overflow: hidden;
  position: relative;
} */

.news-card{
  border: 2px solid black;
  width: 290px;
  background-color: #212f3d;
  height: 430px;
  color: white;
  overflow: hidden;
  border-radius: 10px 0px 10px 0px;
  position: relative;
}

.news-card :hover{
  cursor:default;
}

.news-card:hover h3{
  color:  #0861b9 ;
}

.news-card p{
  font-size: 16px;
  padding: 2px 10px;
}

.news-card h3{
  font-size: 20px;
  margin: 5px 0px;
  padding:2px 10px;

}

.news-card img{
  height: 149px;
  width: 290px;
}


button#bookmark{
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 20px;
  /* padding: 2px 5px; */
  z-index: 100000;
}



button#read-more{
  padding: 1px 2px;
  position: absolute;
  top: 90%;
  left: 2%;
}



button a i{
  color: black;
}



/* Loaders JS */

#spinner-tag{
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.hide{
  display: none;
}


.news-spinner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px auto;
  height: 90%;
}

.news-spinner img{
  height: 100px;
}

/* Error Component */


.error{
  height:90vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error img{
  height: 100px;
  margin: 10px 0px;
}

.error p.error-message{
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0px;

}

.error button{
  padding: 2px 4px;
  font-size: 28px;
  margin: 10px 0px;

}


/* Footer Component */

.footer{
  width: 90%;
  margin: 10px auto;
  background-color: #17202a;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .right a{
  color: black;
}


.footer .left{
  font-weight: bold;
  color: white;
}

.footer .left p{
  border-bottom: 2px solid white;
}




.right a{
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 0px 10px;  
  font-size: 22px;
}


.insta{
  color: #8a3ab9;
}

.linkedin{
  color: #0e76a8;
}

.git{
  color:  #171515;
}
